models:
  - "meta-llama/Meta-Llama-3.1-8B-Instruct"
  - "google/gemma-3-27b-it"
  - "meta-llama/Meta-Llama-3.1-70B-Instruct"
  - "openai/gpt-oss-120b"
modelIdx: 0 # index of the model to use from the list above

temperature: 0.7
timeout: 30
max_retries: 2
max_tokens: 1024
model_provider: "openai"
base_url: "https://inference-api.alcf.anl.gov/resource_server/sophia/vllm/v1"
api_key: ""